<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.Bank.Utility.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Bank.BankManagerLoginTest.OpenAccountTest"/>
      <class name="com.Bank.BankManagerLoginTest.AddCustomerTest"/>
      <class name="com.Bank.CustomerLoginTest.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
